<mat-toolbar color="primary">
  <button mat-button (click)="main()">Protein Identification Interface</button>
  <span class="spacer"></span>
  <ng-template [ngIf] = "!isAuthenticated()">
    <div>
        <button mat-button routerLink ="/log-in" routerLinkActive="active">Log In</button>
        <button mat-button routerLink ="/register" routerLinkActive="active">Register</button>
    </div>
  </ng-template>
  <ng-template [ngIf] = "isAuthenticated()">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="history()">
        <span>History</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <span>Logout</span>
      </button>
    </mat-menu>
    <span>{{getUsername()}}</span>
  </ng-template>
</mat-toolbar>
