<form>
    <div class="login-container">
        <div class="login-content">
            <mat-toolbar class="login-toolbar" color="primary">Create new account</mat-toolbar>
            <mat-card>
                <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(registerForm, formDirective)">
                    <mat-form-field>
                        <mat-icon matPrefix>email</mat-icon>
                        <input autofocus type="email" matInput placeholder="Email" formControlName="email" required>
                        <mat-error *ngIf="checkValidation('email')">
                            {{ emailErrors() }}
                        </mat-error>
                        <mat-label>Email</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input autofocus type="text" matInput placeholder="Username" formControlName="username" required>
                        <mat-label>Username</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="false" placeholder="Password"
                            formControlName="password" required>
                        <mat-label>Password</mat-label>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                        <mat-error *ngIf="checkValidation('password')">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-error style="margin-top: 20px"*ngIf="error">
                        {{ error }}
                    </mat-error>

                    <span style="color: #338600; margin-top: 20px" *ngIf="registerSucess">Registration has been succesful</span>
                    <button type="submit" mat-raised-button class="mat-raised-button" color="primary">REGISTER</button>
                </form>
            </mat-card>
        </div>
    </div>
