<div class="container">
    <form [formGroup]="searchForm" #formDirective="ngForm" (ngSubmit)="onSubmit(searchForm, formDirective)">
        <div class="form-fields">
            <mat-form-field class="form-field">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username"placeholder="Username" required/>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Email adress</mat-label>
                <input matInput placeholder="example@mail.com" formControlName="email"required/>
            </mat-form-field>
        </div>
        <mat-form-field class="large-form-field">
            <mat-label>Search title</mat-label>
            <input formControlName="title" matInput placeholder="Title" required/>
        </mat-form-field>
        <div class="form-fields">
            <mat-form-field class="form-field">
                <mat-select formControlName="database" required>
                    <mat-option *ngFor="let item of databases" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Database name</mat-label>
            </mat-form-field>
            
            <mat-form-field class="form-field">
                <mat-select formControlName="taxonomy"required>
                    <mat-option *ngFor="let item of taxonomies" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Taxonmy</mat-label>
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field class="form-field">
                <mat-select formControlName="clevages"required>
                    <mat-option *ngFor="let item of clevages" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Allow up to _ missed clevages</mat-label>
            </mat-form-field>
        
            <mat-form-field class="form-field">
                <mat-select formControlName="enzyme"required>
                    <mat-option *ngFor="let item of enzymes" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Enzyme</mat-label>
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field class="form-field">
                <mat-select formControlName="fixed" multiple required>
                    <mat-option *ngFor="let item of ptms" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Fixed modifications</mat-label>
            </mat-form-field>
        
            <mat-form-field class="form-field">
                <mat-select formControlName="variable" multiple required>
                    <mat-option *ngFor="let item of ptms" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Variable modifications</mat-label>
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field class="small-form-field">
                <mat-label>Peptide tol. </mat-label>
                <input formControlName="peptide"type="number"matInput placeholder="5" required/>
            </mat-form-field>
            <mat-form-field class="small-form-field">
                <mat-select formControlName="peptideUnit" required>
                    <mat-option *ngFor="let item of tolUnits" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Unit</mat-label>
            </mat-form-field>
        
            <mat-form-field class="small-form-field">
                <mat-label>MS/MS tol. </mat-label>
                <input formControlName="ms" type="number" matInput placeholder="0.02" required/>
            </mat-form-field>
            <mat-form-field class="small-form-field">
                <mat-select formControlName="msUnit" required>
                    <mat-option *ngFor="let item of tolUnits" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-label>Unit</mat-label>
            </mat-form-field>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <button type="button" mat-button (click)="fileInput.click()">Choose File</button>
                <input requied hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" formControlName="file"/>
            </div>
            <div class="form-field">
                <button mat-raised-button [disabled]="serverService.selectedFile === undefined" type="submit" color="primary">Start search</button>
            </div>
        </div>
    </form>
</div>
